/* Global Variables */

:root {
    --content-bg-color: rgba(0,0,0,0.3);

    /*Font Weights*/
    --header: 700;
    --normal: 400;
    --subheader: 600;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/* HTML, Body */

    html, body, h1, h3{
        margin: 0;
        padding: 0;
    }

    body{
        background-color: #333645;
        font-family: "Segoe UI", sans-serif;
        overflow: hidden;
    }

    video{
        position: absolute;
        top: 0;
        left: 0;
    }

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/* Navigation Bar */

    nav{
        grid-row: 1/2;
        grid-column: 2/4;
        display: flex;
        height: 100%;
        justify-content: space-between;
        background-color: var(--content-bg-color);
        /*margin-left: 30vw;*/
        border-radius: 15px 0 0 15px;

    }

    nav > form {
        width: 100%;
    }

    .navbtn{
        margin-top: .3%;
        margin-left: 1%;
        width: 15%;
        height: 80%;
        background-color: transparent;
        border: none;
        border-radius: 20px;
        /*font-size: 2rem;*/
        font-size: 100%;
        font-weight: var(--normal);
        color: white;
    }


    .btnactive{
        background-color: #BFAB60;
    }

    .logo{
        margin-top: .3%;
        margin-bottom: .3%;
    }

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/* Content */

    .container{
        position: relative;
        /*background-image: url("http://www.pcubeconsultants.com/img_external/gallery/commercial/turquoise3_scr.jpg");*/
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        min-height: 100vh;
        min-width: 100vw;
        left: 0;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 5vh 20vh auto 5vh 7.5vh;
        color: white;
    }

    .cardtext{
        margin: 0;
        font-weight: var(--normal);
        font-size: 1.5rem;
    }

/* AC Card */

    .card{
        background-color: var(--content-bg-color);
        color: white;
        border-radius: 10px;
        border: 2px solid white;
        width: 60%;
        height: 60%;
        padding: 5% 5%;
    }

    .cardkopf{
        display: flex;
    }

    .arrowimg{
        padding-top: 2vh;
        height: 5vh;
        width: 4vh;
        opacity: 1;
        animation-name: fadeIn;
  	 	animation-duration: 5s;
    }

    .Card1{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-left: 15%;
    }

    .Card2{
        grid-row: 2/3;
        grid-column: 2/3;
         margin-left: 15%;
    }

    .Card3{
        grid-row: 2/3;
        grid-column: 3/4;
         margin-left: 15%;
    }

    .cardheader{
        margin: 0 1%;
        font-weight: var(--header);
        font-size: 4rem;
    }

/* Sliders */

    .slideshow-container {
            display: grid;
            grid-row: 2/4;
            grid-column: 1/-1;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            align-content: center;
        }

    .mySlides {
            display: none;
            grid-row: 2/4;
            grid-column: 1/-1;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            align-content: center;
        }

    .mySlides > h1 {
            color: white;
            grid-row: 1/2;
            grid-column: 2/3;
            text-align: center;
            padding-top: 40%;
        }
    /*.border{*/
    /*    width: 5vw;*/
    /*    height: 1vh;*/
    /*    background-color: red;*/
    /*}*/

    .deutschlandkarte{
        width: 50%;
        height: 50%;
    }

/* Hot Deals Card */

        .hotDealsCard{
            background-color: var(--content-bg-color);
            color: white;
            border-radius: 10px;
            border: 2px solid white;
            width: 60%;
            height: 70%;
            padding: 5% 5%;
            justify-content: center;
        }

        .hottext{
            margin:.5vh 2vw 0 0;
            font-weight: var(--header);
            font-size: 1.5rem;
        }

        .imgprew{
            height: 13vh;
            width: 13vw;
            margin-bottom: .5vh;
        }

        .Hotimg{
            height: 4vh;
            width: 4vh;
        }

        .hdheader{
        color: white;
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: center;
        padding-top: 40%;
    }

        .hotDealsCard1{
            grid-column: 1/2;
            grid-row: 2/3;
            margin-left: 15%;
        }

        .hotDealsCard2{
            grid-row: 2/3;
            grid-column: 2/3;
            margin-left: 15%;
        }

        .hotDealsCard3{
            grid-row: 2/3;
            grid-column: 3/4;
            margin-left: 15%;
        }

/* Hot Sliders */

        .mySlidesHotDeal {
            display: none;
            grid-row: 2/4;
            grid-column: 1/-1;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            align-content: center;
        }

        .mySlidesHotDeal > h1{
            color: white;
            text-align: center;
            /*margin-top: 30vh;*/
            font-size: 3rem;
            font-weight: var(--header);
        }

        .mySlidesHotDeal > h3{
            color: white;
            text-align: center;
            /*margin-top: 2vh;*/
            /*margin-bottom: 2vh;*/
            font-size: 3rem;
            font-weight: var(--header);
        }


/* Dots for Sliders */

        .dots{
        grid-column: 2/3;
        grid-row: 4/5;
    }

        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          /*margin: 5vh .2vw;*/
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .active, .dot:hover, dot:focus {
          background-color: #717171;
        }

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/* Footer Bar */

    .footer{
        position: fixed;
        display: flex;
        bottom: 0;
        left: 0;
        width: 100vw;
        color: white;
        height: 7.5%;
        background-color: var(--content-bg-color);
        border-top: 2px solid white;
        overflow: hidden;
    }

    .footer-content{
        display: flex;
        width:100%;
    }

    .header{
        position: absolute;
        /*margin: .5% 0 .5% 0;*/
        margin-top: .3%;
        left: 0;
        width: 9%;
        height: 90%;
        border-radius: 0 20px 20px 0;
        padding-left: 1vw;
        background-color: #B4C6D1;
        z-index: 2;
    }

    .header > h3, .subheader > h3, .footer-item > h3{
        font-size: 1.25rem;
        font-weight: var(--normal);
    }

    .header > h1, .subheader > h1, .footer-item > h1{
        padding-top: .5vh;
        font-size: 1.5rem;
        font-weight: var(--header);
    }

    .subheader{
        position: absolute;
        margin-top: .3%;
        left: 8%;
        width: 9%;
        height: 90%;
        background-color: #859FAF;
        border-radius: 0 20px 20px 0;
        padding-left: 2.5vw;
        font-weight: var(--subheader);
        z-index: 1;
    }

    .footer-item{
        display:block;
        position: relative;
        margin-top: .3%;
        margin-left: 10%;
        min-width: 20%;
        width: 9%;
        left: 120vw;
        z-index: 0;
        overflow: hidden;
    }

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/* Animations */

    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes footerslide {
            from {left:120vw;}
            to {left: -100vw;}
        }

    @-webkit-keyframes fade {
      from {opacity: 0}
      to {opacity: 1}
    }

    @keyframes fade {
      from {opacity: 0}
      to {opacity: 1}
    }

    @keyframes fadeOut {
      from {opacity: 1}
      to {opacity: 0}
    }

    @-webkit-keyframes fadeOut {
      from {opacity: 1}
      to {opacity: 0}
    }

    @keyframes fadeIn{
      0% {opacity:0;}
      100% {opacity:1;}
    }